@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        The Hillsborough Education Foundation is invested in the success of over 200,000 students in Hillsborough County Public Schools by providing educational resources and financial assistance to help give every student, regardless of zip code, background, family structure or economic status, the opportunity to achieve personal success."
    </p>

    <p>
        Our vision is every student graduating from high schoo, ready for the next step towards a bright future with post-secondary education goals or work-force ready skills.
    </p>

    <p>
        The Foundation works in partnership with the community to bring critical resources that are not funded by normal tax revenues to help students succeed in their academic and personal achievements through scholarships, mentoring and dropout prevention programs, free school supplies for low income students, grants to provide more engaging teaching options in the classroom and recognition for education professionals.
    </p>
</article>

<aside>
    <h3>??</h3>
    <p>
        add info
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>