@model HillsboroughEducation.Models.StudentModel

@{
    ViewBag.Title = "MyInfo";
}

<script>
    $m = jQuery.noConflict();
</script>
<script type="text/javascript">
    $m(document).ready(function () {
        $m('#tabs').tabs();
    });
</script>

<body>
    <div id="tabs">
        <ul>
            <li><a href="#personal">Personal Information</a></li>
            <li><a href="#financial">Financial Information</a></li>
            <li><a href="#academic">Academic Criteria</a></li>
            <li><a href="#scores">Test Scores</a></li>
            <li><a href="#question">Questionnaire</a></li>
            <li><a href="#essay">Student Essay Questions</a></li>
            <li><a href="#documents">Documents</a></li>
        </ul>    

<div id="Personal">
    <h2>Personal Information</h2>
    <section>
        First Name:
        @Html.DisplayFor(model => model.FirstName)
    </section>
    <section>
        Last Name:
        @Html.DisplayFor(model => model.LastName)
    </section>
    <section>
        Social Security #:
        @Html.DisplayFor(model => model.SocialSecurity)
    </section>
    <section>
        Student ID:
        @Html.DisplayFor(model => model.StudentNumber)
    </section>
    <section>
        Country:
        @Html.DisplayFor(model => model.Country)
    </section>
    <section>
        Gender:
        @Html.DisplayFor(model => model.Gender)
    </section>
    <section>
        Ethnicity:
        @Html.DisplayFor(model => model.Ethnicity)
    </section>
    <section>
        Date of Birth:
        @Html.DisplayFor(model => model.BirthDate)
    </section>
    <section>
        Address:
        @Html.DisplayFor(model => model.Address1)
    </section>
    <section>
        Second Address:
        @Html.DisplayFor(model => model.Address2)
    </section>
    <section>
        City:
        @Html.DisplayFor(model => model.City)
    </section>
    <section>
        State:
        @Html.DisplayFor(model => model.State)
    </section>
    <section>
        County:
        @Html.DisplayFor(model => model.County)
    </section>
    <section>
        Postal Code:
        @Html.DisplayFor(model => model.PostalCode)
    </section>
    <section>
        Home Phone:
        @Html.DisplayFor(model => model.HomePhone)
    </section>
    <section>
        Work Phone:
        @Html.DisplayFor(model => model.WorkPhone)
    </section>
    <section>
        Cell Phone:
        @Html.DisplayFor(model => model.CellPhone)
    </section>
    <section>
        Email Address(Username):
        @Html.DisplayFor(model => model.UserName)
    </section>
</div>

<div id="financial">
            <h2>Financial Information</h2>
            <section>
                Adjusted Gross Income:
                @Html.Display("model => model.GrossIncome")
            </section>
            <section>
                Number of people in Household:
                @Html.Display("model => model.Household")
            </section>
        </div>

<div id="academic">
            <h2>Academic Information</h2>
            <section>
                Class Year:
                @Html.Display("model => model.Seniority")
            </section>
            <section>
                Current School Name:
                @Html.DisplayText("model => model.CurrentSchool")
            </section>
            <section>
                Exp. HS Graduation Date:
                @Html.DisplayText("model => model.GraduationDate")
            </section>
            <section>
                GPA:
                @Html.DisplayText("enter here")
            </section>
            <section>
                ACT Score:
                @Html.DisplayText("enter score")
            </section>
            <section>
                SAT Score:
                @Html.DisplayText("enter score")
            </section>
            <section>
                College you plan to attend:
                @Html.DisplayText("model => model.College")
            </section>
            <section>
                Major of study or program:
                @Html.DisplayText("model => model.Major")
            </section>
        </div>

        <div id="question">
            <h2>Criteria Questions</h2>
            <section>
                Which of the following types of student most closely matches you?
                @Html.DisplayText("")
            </section>
            <section>
                Do you attend a charted school?
                @Html.DisplayText("")
            </section>
            <section>
                In what grade are you?
                @Html.DisplayText("")
            </section>
            <section>
                Do you qualify for free or reduced lunch?
                @Html.DisplayText("")
            </section>
            <section>
                Do you qualify for free or reduced lunch?
                @Html.DisplayText("")
            </section>
        </div>

        <div id="application">
            <h2>Scholarship Application Information</h2>
            <table>
                <tr>
                    <th>
                        Scholarship Name
                    </th>
                    <th>
                        Date Applied
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </table>
        </div>

        <div id="documents">
            <h2>Documents</h2>
        </div>

        <p>
            @Html.ActionLink("Back to List", "MyInfo", "Student", "", "")
            <a href="#tabs">Top</a>
        </p>
    </div>
</body>

        