@model HillsboroughEducation.Models.StudentModel

@{
    ViewBag.Title = "MyInfo";
}
<body>
          <div id="personal">
       <h2>Personal Information</h2>
            <section>
                First Name:
                @Html.DisplayFor(model => model.FirstName)
            </section>
            <section>
                Social Security #:
                @Html.DisplayText("model => model.SocialSecurity")
            </section>
            <section>
                Last Name:
                @Html.DisplayFor(model => model.LastName)
            </section>
            <section>
                Country:
                @Html.DisplayText("model => model.Country")
            </section>
            <section>
                Gender:
                @Html.DisplayText("model => model.Gender")
            </section>
            <section>
                Ethnicity:
                @Html.DisplayText("model => model.Ethnicity")
            </section>
            <section>
                Date of Birth:
                @Html.DisplayFor(model => model.BirthDate)
            </section>
            <section>
                Address:
                @Html.DisplayText("model => model.Address")
            </section>
            <section>
                City:
                @Html.DisplayText("model => model.City")
            </section>
            <section>
                State:
                @Html.DisplayText("model => model.State")
            </section>
            <section>
                County:
                @Html.DisplayText("model => model.County")
            </section>
            <section>
                Postal Code:
                @Html.DisplayText("model => model.PostalCode")
            </section>
            <section>
                School Student ID#:
                @Html.DisplayText("model => model.StudentID")
            </section>
            <section>
                Generated Student ID #:
                @Html.DisplayFor(model => model.StudentNumber)
            </section>
            <section>
                Home Phone:
                @Html.DisplayText("model => model.HomepPhone")
            </section>
            <section>
                Work Phone:
                @Html.DisplayText("model => model.WorkPhone")
            </section>
            <section>
                Cell Phone:
                @Html.DisplayText("model => model.CellPhone")
            </section>
            <section>
                Email Address/Username:
                @Html.DisplayFor(model => model.UserName)
            </section>

<div id="financial">
            <h2>Financial Information</h2>
            <section>
                Adjusted Gross Income:
                @Html.Display("model => model.GrossIncome")
            </section>
            <section>
                Number of people in Household:
                @Html.Display("model => model.Household")
            </section>
        </div>

        <div id="academic">
            <h2>Academic Information</h2>
            <section>
                Class Year:
                @Html.Display("model => model.Seniority")
            </section>
            <section>
                Current School Name:
                @Html.DisplayText("model => model.CurrentSchool")
            </section>
            <section>
                Exp. HS Graduation Date:
                @Html.DisplayText("model => model.GraduationDate")
            </section>
            <section>
                GPA:
                @Html.DisplayText("enter here")
            </section>
            <section>
                ACT Score:
                @Html.DisplayText("enter score")
            </section>
            <section>
                SAT Score:
                @Html.DisplayText("enter score")
            </section>
            <section>
                College you plan to attend:
                @Html.DisplayText("model => model.College")
            </section>
            <section>
                Major of study or program:
                @Html.DisplayText("model => model.Major")
            </section>
        </div>

        <div id="question">
            <h2>Criteria Questions</h2>
            <section>
                Which of the following types of student most closely matches you?
                @Html.DisplayText("")
            </section>
            <section>
                Do you attend a charted school?
                @Html.DisplayText("")
            </section>
            <section>
                In what grade are you?
                @Html.DisplayText("")
            </section>
            <section>
                Do you qualify for free or reduced lunch?
                @Html.DisplayText("")
            </section>
            <section>
                Do you qualify for free or reduced lunch?
                @Html.DisplayText("")
            </section>
        </div>

        <div id="application">
            <h2>Scholarship Application Information</h2>
            <table>
                <tr>
                    <th>
                        Scholarship Name
                    </th>
                    <th>
                        Date Applied
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </table>
        </div>

        <div id="documents">
            <h2>Documents</h2>
        </div>

        <p>
            @Html.ActionLink("Back to List", "MyInfo", "Student", "", "")
            <a href="#tabs">Top</a>
        </p>
    </div>
</body>

        