@using System.Web.Helpers;
@model IEnumerable<HillsboroughEducation.Models.ScholarshipModel>
@{
    var grid = new WebGrid(source: Model, defaultSort: "Scholarship", rowsPerPage: 20);
}
        
        Find a Scholarship
        
            <h3>Search Parameters</h3><br />
            <form method="get">
          
                      @using (Html.BeginForm())
{
    <p>
        Search by: Scholarship Name, Type, or Academic Year <br />
        @Html.TextBox("SearchString")
         <input id="searchSubmit" type="submit" value="Search" tabindex="7" style="margin-left:200px"/>
         <input id="searchReset" type="submit" value="Clear" tabindex="8" style="margin-left:20px"/>
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Scholarship Name", "Scholarship", new { sortOrder = ViewBag.ScholarShipNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Scholarship Type", "Scholarship", new { sortOrder = ViewBag.ScholarShipTypeSortParam })
        </th>
        <th>
            @Html.ActionLink("Academic Year", "Scholarship", new { sortOrder = ViewBag.AcademicYearSortParam })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_AVAILABLE.Year)
            </td>
            <td>
                @Html.ActionLink("Details", "ScholarshipDetails", new { id = item.ID })
            </td>
        </tr>
    }
</table>             
            </form>


   