@using System.Web.Helpers;
@model IEnumerable<HillsboroughEducation.Models.ScholarshipModel>
@{
    var grid = new WebGrid(source: Model, defaultSort: "Scholarship", rowsPerPage: 20);
}
        <div id="tableBox" style="width:800px">
        <div class="Title">Find a Scholarship
        </div>
        <div id="searchParameters" style="width:778px;background:#FFFFFF;padding:10px; border:1px solid #000000">
            <h3>Search Parameters</h3><br />
            <form method="get">
                <div>
                    <div style="padding-bottom:5px">
                      @using (Html.BeginForm())
{
    <p>
        Search by: Scholarship Name, Student ID, or Applications to Review <br />
        @Html.TextBox("SearchString")
         <input id="searchSubmit" type="submit" value="Search" tabindex="7" style="margin-left:200px"/>
         <input id="searchReset" type="submit" value="Clear" tabindex="8" style="margin-left:20px"/>
    </p>
}
<table>
    <tr>
        <th>
            @Html.ActionLink("Scholarship Name", "Scholarship", new { sortOrder = ViewBag.ScholarShipNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Scholarship ID", "Scholarship", new { sortOrder = ViewBag.ScholarShipIDSortParam })
        </th>
        <th>
            @Html.ActionLink("Academic Year", "Scholarship", new { sortOrder = ViewBag.AcademicYearSortParam })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_AVAILABLE.Year)
            </td>
            <td>
                @Html.ActionLink("Details", "ScholarshipDetails", new { id = item.ID })
            </td>
        </tr>
    }
</table>             
                    </div>
                </div>
            </form>
        </div>
            </div>