@model HillsboroughEducation.Models.Donors

@{
    ViewBag.Title = "Donor Info";
}

<h2>Donor Info</h2>

<fieldset>
    <legend>Donors</legend>

    <section>
        @Html.DisplayNameFor(model => model.NAME) :

        @Html.DisplayFor(model => model.NAME)
    </section>

    <section>
        @Html.DisplayNameFor(model => model.CITY) :

        @Html.DisplayFor(model => model.CITY)
    </section>

    <section>
        @Html.DisplayNameFor(model => model.STATE) :

        @Html.DisplayFor(model => model.STATE)
    </section>

    <section>
        @Html.DisplayNameFor(model => model.ZIP) :

        @Html.DisplayFor(model => model.ZIP)
    </section>
</fieldset>
<p align="right"><b>
    @Html.ActionLink("Back to List", "Donor", "Admin", "", "")
    </b>
</p>
