@model HillsboroughEducation.Models.Donors

@{
    ViewBag.Title = "Edit Donor";
}

<h2>Edit Donor</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Donors</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
            @Html.LabelFor(model => model.NAME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NAME)
            @Html.ValidationMessageFor(model => model.NAME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CITY)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CITY)
            @Html.ValidationMessageFor(model => model.CITY)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.STATE)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.STATE)
            @Html.ValidationMessageFor(model => model.STATE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ZIP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ZIP)
            @Html.ValidationMessageFor(model => model.ZIP)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<p align="right">
    <b>
        @Html.ActionLink("Back to List", "Donor", "Admin", "", "")
    </b>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
