@model HillsboroughEducation.Models.ScholarshipModel

<!DOCTYPE html>

<html>
<body>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TITLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_AVAILABLE.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMOUNT_TYPE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TOTAL_FUNDS)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.TITLE)
            </td>
            <td>
                @Html.DisplayFor(model => model.TYPE)
            </td>
            <td>
                @Html.DisplayFor(model => model.DATE_AVAILABLE.Year)
            </td>
            <td>
                @Html.DisplayFor(model => model.AMOUNT_TYPE)
            </td>
            <td>
                $@Html.DisplayFor(model => model.TOTAL_FUNDS)
            </td>
        </tr>
    </table>
    <p align="right">
        <b>
            @Html.ActionLink("Back to List", "Scholarship", "Admin", "", "")
        </b>
    </p>
</body>
</html>
