@model IEnumerable<HillsboroughEducation.Models.ScholarshipModel>
@{
    ViewBag.Title = "Scholarship";
}

@using (Html.BeginForm())
{

    <h2>@Html.ActionLink("Create new scholarship", "CreateScholarship", "Admin")</h2>

    <p>
        Search by: Scholarship Name or Type <br />
        @Html.TextBox("SearchString")
        <input type="submit" value="Submit" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Scholarship Name", "Scholarship", new { sortOrder = ViewBag.ScholarShipNameSortParam })
        </th>
        <th>
            @Html.ActionLink("Scholarship Type", "Scholarship", new { sortOrder = ViewBag.ScholarShipTypeSortParam })
        </th>
        <th>
            @Html.ActionLink("# of Applicants", "Scholarship", new { sortOrder = ViewBag.NumOfApplicantsSortParam })
        </th>
        <th>
            @Html.ActionLink("Scholarship Amount", "Scholarship", new { sortOrder = ViewBag.AmountSortParam })
        </th>
        <th>
            @Html.ActionLink("Academic Year", "Scholarship", new { sortOrder = ViewBag.AcademicYearSortParam })
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AMOUNT_TYPE)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TOTAL_FUNDS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_AVAILABLE.Year)
            </td>
            <td>
                @Html.ActionLink("Details", "ScholarshipInfo", new { id = item.ID })
            </td>
        </tr>
    }
</table>

