@model HillsboroughEducation.Models.StudentFinancialModel

@{
    ViewBag.Title = "StudentFinancialInfo";
    Layout = null;
}

<table class="table">
    <tr>
        <th>
            <font size="2">@Html.DisplayNameFor(model => model.FinancialNeedEligible)</font>
        </th>
        <th>
            <font size="2">@Html.DisplayNameFor(model => model.AdjustedGrossIncome)</font>
        </th>
        <th>
            <font size="2">@Html.DisplayNameFor(model => model.NumberInHousehold)</font>
        </th>
        <th>
            <font size="2">@Html.DisplayNameFor(model => model.ReceivedSSCard)</font>

        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.FinancialNeedEligible)
        </td>
        <td>
            @Html.DisplayFor(model => model.AdjustedGrossIncome)
        </td>
        <td>
            @Html.DisplayFor(model => model.NumberInHousehold)
        </td>
        <td>
            @Html.DisplayFor(model => model.ReceivedSSCard)
        </td>
    </tr>
</table>