@model HillsboroughEducation.Models.ScholarshipModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<body>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ScholarshipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScholarshipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfApplicants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(model => model.ScholarshipName)
            </td>
            <td>
                @Html.DisplayFor(model => model.ScholarshipType)
            </td>
            <td>
                @Html.DisplayFor(model => model.AcademicYear)
            </td>
            <td>
                @Html.DisplayFor(model => model.NumOfApplicants)
            </td>
            <td>
                $@Html.DisplayFor(model => model.Amount)
            </td>
        </tr>
    </table>
</body>
</html>
