@model IEnumerable<HillsboroughEducation.Models.StudentModel>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <p>
        Title: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Submit" />
    </p>
    }
    <table>
        <tr>
            <th>
                @Html.ActionLink("Last Name", "Student", new { sortBy = 1 })
            </th>
            <th>
                @Html.ActionLink("First Name", "Student", new { sortBy = 2 })
            </th>
            <th>
                @Html.ActionLink("Student #", "Student", new { sortBy = 3 })
            </th>
            <th>
                @Html.ActionLink("Username", "Student", new { sortBy = 4 })
            </th>
            <th>
                @Html.ActionLink("D.O.B", "Student", new { sortBy = 5 })
            </th>
            <th>
                @Html.ActionLink("Academic Year", "Student", new { sortBy = 6 })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AcademicYear)
                </td>
            </tr>
        }

    </table>
</body>
</html>
